@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Hello!</h1>
    <p class="lead"></p>
    @if (!HttpContext.Current.Request.IsAuthenticated) {<p><a href="http://localhost:57588/Account/Register" class="btn btn-primary btn-lg">Register</a></p> }
    
</div>

<div class=""

